version: "3.8"

services:
  api:
    container_name: evolution_api
    image: evoapicloud/evolution-api:latest
    restart: always
    depends_on:
      - redis
      - postgres
    ports:
      - "8080:8080"
    environment:
      SERVER_TYPE: http
      SERVER_PORT: 8080
      SERVER_URL: http://localhost:8080
      AUTHENTICATION_API_KEY: 429683C4C977415CAAFCCE10F7D57E11
      DATABASE_PROVIDER: postgresql
      DATABASE_URL: postgresql://postgres:IotmpIUGWSpbEKnXNmjRxkItuCZVtGpS@postgres:5432/railway
      CACHE_REDIS_ENABLED: "true"
      CACHE_REDIS_URI: redis://redis:6379/6
      LANGUAGE: en
    networks:
      - evolution-net

  redis:
    container_name: evolution_redis
    image: redis:7
    restart: always
    ports:
      - "6379:6379"
    networks:
      - evolution-net

  postgres:
    container_name: evolution_postgres
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: railway
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: IotmpIUGWSpbEKnXNmjRxkItuCZVtGpS
    ports:
      - "5432:5432"
    networks:
      - evolution-net
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

networks:
  evolution-net:
    driver: bridge
